.main{
    text-align: center;
}

.header{
    background-color: blue;
    height: 40px;
    width: 100%;
    color: white;
}

.footer{
    background-color: blue;
    height: 60px;
    width: 100%;
    color: white;
    position:absolute;
    bottom: 0%;
}
